<section class="catalog catalog-container">
  <div class="container">
    <form class="form-search">


      <div class="search-input__container">
        <input type="text" name="search" placeholder="Search" class="search-input__area" />
        <button class="btn-close" type="button">
          <svg class="icon-close" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5 4.5L4.5 13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4.5 4.5L13.5 13.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
      </div>


      <!-- <select
      name="select-Year"
      class="catalog-select"
      placeholder="100"
    >
      <option value="year">Year</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
      <option value="2012">2012</option>
      <option value="2011">2011</option>
      <option value="2010">2010</option>
    </select> -->

      <button class="btn-search" type="submit">
        <svg class="icon-search">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>

      <div class="catalog-text-box hidden-text"><p class='text-error'>OOPS...
        We are very sorry!
        We don't have any results matching your search.</p></div>

    <ul class="weelky-trends-list"></ul>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>

