<section class="catalog">
  <div class="container">
    <form class="form-search">
      <input type="text" name="search" placeholder="Search" />
      <button class="btn-search" type="submit">
        <svg class="icon-search">
          <use href="./img/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    
      <div class="catalog-text-box hidden-text"><p class='text-error'>OOPS...
        We are very sorry!
        We don't have any results matching your search.</p></div>
    
    <ul class="weelky-trends-list"></ul>
    <div class="pagination" id="tui-pagination-container">
  </div>
</section>

