<header class="header header-container">
  <a href="./index.html" class="logo-link">
    <svg class="logo-svg">
      <use href="../img/sprite-header.svg#icon-header-logo"></use>
    </svg>
    <h1 class="logo-title">Cinemania</h1>
  </a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./index.html" class="nav-link link-current">Home</a>
      </li>
      <li class="nav-item">
        <a href="./catalog-page.html" class="nav-link">Catalog</a>
      </li>
      <li class="nav-item">
        <a href="./library-page.html" class="nav-link">My Library</a>
      </li>
    </ul>
  </nav>
  <!-- <button
    class="menu-button"
    data-menu-button
    aria-label="Переключатель мобильного меню"
    aria-expanded="false"
    aria-controls="menu-container"
  >
    menu
  </button>

  <div class="menu-container is-open" id="menu-container" data-menu>
    <a href="./index.html" class="logo-link">
      <svg class="logo-svg">
        <use href="../img/sprite-header.svg#icon-header-logo"></use>
      </svg>
    </a>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="./index.html" class="nav-link--mobile link-current">Home</a>
      </li>
      <li class="menu-item">
        <a href="./catalog-page.html" class="nav-link--mobile">Catalog</a>
      </li>
      <li class="menu-item">
        <a href="./library-page.html" class="nav-link--mobile">My Library</a>
      </li>
    </ul>
  </div> -->
  <button
    class="menu-button"
    data-menu-button
    aria-label="Переключатель мобильного меню"
    aria-expanded="false"
    aria-controls="menu-container"
  >
    menu
  </button>

  <div class="menu-container" id="menu-container" data-menu>
    <a href="./index.html" class="logo-link">
      <svg class="logo-svg">
        <use href="../img/sprite-header.svg#icon-header-logo"></use>
      </svg>
    </a>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="./index.html" class="nav-link--mobile link-current">Home</a>
      </li>
      <li class="menu-item">
        <a href="./catalog-page.html" class="nav-link--mobile">Catalog</a>
      </li>
      <li class="menu-item">
        <a href="./library-page.html" class="nav-link--mobile">My Library</a>
      </li>
    </ul>
  </div>

  <div class="page-overlay"></div>

  <div class="theme-switch">
    <img
      src="../img/header-theme-bg.png"
      alt="тема задний фон"
      class="theme-icon"
    />
    <!-- <svg class="theme-icon">
      <use href="../img/sprite-header.svg#icon-header-theme-switch"></use>
    </svg> -->

    <div>
      <svg class="icon-moon">
        <use
          href="../img/sprite-header.svg#icon-header-theme-svitch-moon"
        ></use>
      </svg>
      <svg class="icon-switch">
        <use href="../img/sprite-header.svg#icon-header-theme-svitch-el"></use>
      </svg>
    </div>
  </div>
</header>

<script src="../js/header-menu.js"></script>
