<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
      <p class="hero-text">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers. Decorate your space, choose your
        films, and stock up on snacks for the full experience.
      </p>
      <button type="button" class="get-started-button">Get Started</button>
    </div>
  </div>
</section>

<button type="button" class="hero-trailer-btn">Watch trailer</button>

<div class="hero-PopUp">
  <div class="hero-PopUp-svg">
    <svg width="24" height="24">
      <use href="../img/symbol-defs.svg#icon-close-hero-modal"></use>
    </svg>
  </div>

  <p class="hero-PopUp-text">
    OOPS...<br />We are very sorry!<br />
    But we couldn’t find the trailer.
  </p>
</div>
