<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Create Your Dream Cinema</h1>
      <p class="hero-text">
        Is a guide to designing a personalized movie theater experience with the
        right equipment, customized decor, and favorite films. This guide helps
        you bring the cinema experience into your own home with cozy seating,
        dim lighting, and movie theater snacks.
      </p>
    </div>
  </div>
</section>
<div class="overlay">
  <div class="trailer-modal">
    <div class="trailer-modal-closeSvg">
      <svg class="trailer-modal-svg">
        <use href="./img/symbol-defs.svg#icon-close-hero-modal"></use>
      </svg>
    </div>
  </div>
</div>
<div class="overlay">
  <div class="hero-PopUp">
    <div class="hero-PopUp-closeSvg">
      <svg class="hero-PopUp-svg">
        <use href="./img/symbol-defs.svg#icon-close-hero-modal"></use>
      </svg>
    </div>
    <p class="hero-PopUp-text">
      OOPS...<br />We are very sorry!<br />
      But we couldn’t find the trailer.
    </p>
  </div>
</div>
