<section class="hero-library">
  <div class="container">
    <h1 class="hero-title">Create Your Dream Cinema</h1>
    <p class="hero-text">
      Is a guide to designing a personalized movie theater experience with the
      right equipment, customized decor, and favorite films. This guide helps
      you bring the cinema experience into your own home with cozy seating, dim
      lighting, and movie theater snacks.
    </p>
  </div>
</section>

<section class="library-cards container">
  <div class="libr-catch">
    <p class="libr-error">
      OOPS... We are very sorry! You don’t have any movies at your library.
    </p>
    <button class="btn-libr">Serch movie</button>
  </div>
</section>
