:root {
  --primary-color: #000;
  --secondary-color: #FFF;
  --accent-color:  #F87719
}

/* Стили для шапки */

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin: auto;
  padding: 8px 20px;
    
  background-color: var(--primary-color);
}

 .header::before,
    .header::after {
      content: "";
      position: absolute;
      top: 0;
      width: 9999px;
      height: 100%;
      background-color: var(--primary-color);
    }

    .header::before {
      right: 100%;
    }

    .header::after {
      left: 100%;
    }

@media screen and (min-width: 768px) {
  .header{
    padding: 12px 32px;
    max-width: 768px;
  }
  }

  @media screen and (min-width: 1280px) {
    .header{
      max-width: 1280px;
    }
    }

/* @media screen and (min-width: 1344px) {
  .header-container{
    margin: auto;
  }
  } */


.logo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;

  text-decoration: none;
  }

  
.logo-svg {

  width: 32px;
  height: 32px;
  }

  @media screen and (min-width: 768px) {
    .logo-svg {
      width: 48px;
      height: 48px;
      }
  }

.logo-title {
padding: 10px 0;
padding-left: 8px;

font-family: 'Roboto';
font-weight: 400;
font-size: 24px;
line-height: 1.16;
display: flex;
align-items: center;
text-align: center;
color: var(--secondary-color);
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item:not(:last-child) {
  margin-right: 32px;
}
@media screen and (min-width: 1280px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  }

.nav-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  
  color: #B7B7B7;
}

.nav-link:hover,.nav-link:focus{
  color: var(--accent-color);
}

.theme-switch {
  position: relative;

  display: flex;
  align-items: center;
  cursor: pointer;
  }

.theme-icon {
  width: 44px;
  height: 18px;
  }

.icon-moon{
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 2;

  width: 10px;
  height: 10px;
}

.icon-switch{
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 2;

  width: 13px;
  height: 13px;
  
}

@media screen and (min-width: 768px) {
    
  .theme-icon {
    width: 60px;
    height: 24px;
  }
  
  .icon-moon{
    top: 5px;
    /* left: 5px; */
    
    width: 13px;
    height: 13px;
  }
  
  .icon-switch{
    /* top: 2px;
    right: 5px; */
    
    width: 18px;
    height: 18px;
  }

}



/* Стили для мобильного меню */

.menu-button {
  background-color: var(--primary-color);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;

font-family: 'Roboto';
font-weight: 500;
font-size: 12px;
line-height: 1.16;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #B7B7B7;

}

.menu-button:hover,
.menu-button:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}


.menu-container {
  display: none;
  transform: translateX(-100%);
  transition: transform 2500ms ease;
  }

@media screen and (max-width: 768px) {
  .menu-container.is-open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 204px;
    height: 100vh;
    overflow: auto;
    z-index: 3;
    padding-top: 8px;
    padding-left: 20px;
    transform: translateX(0);
    background-color: #171717;
    border-radius: 0px 8px 8px 0px;
    }
    
  }
  
.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  display: none;
}

.menu-container.is-open + .page-overlay {
  display: block;
}


@media screen and (max-width: 768px) {
  .logo-title, .nav, .page-overlay {
    display: none;
  }
}

  .menu-list {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
  }

  .menu-item:not(:last-child) {
  margin-bottom: 24px;
  }

  .nav-link--mobile{
  height: 16px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  
  color:var(--secondary-color)
}

.nav-link--mobile:hover,.nav-link--mobile:focus{
  color: var(--accent-color);
}

.link-current {
  color: var(--accent-color);
}

