:root {
  --primary-color: #000;
  }

/* Стили для шапки */


.header {
  padding: 8px 0; 
  
  background-color: var(--primary-color);
}


.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

@media screen and (min-width: 768px) {
  .header{
    padding: 12px 0;
      }
  }

.logo-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;

  text-decoration: none;
  }

  
.logo-svg {
  width: 32px;
  height: 32px;
  }

  @media screen and (min-width: 768px) {
    .logo-svg {
      width: 48px;
      height: 48px;
      }
  }

.logo-title {
padding: 10px 0;
padding-left: 8px;

font-family: 'Roboto';
font-weight: 400;
font-size: 24px;
line-height: 1.16;
display: flex;
align-items: center;
text-align: center;
color: inherit;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item:not(:last-child) {
  margin-right: 32px;
}
@media screen and (min-width: 1280px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  }

.nav-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier( .42, 0, .58, 1 );
  color: #B7B7B7;
}

.nav-link:hover,.nav-link:focus{
  color: var(--color-orange);
}

body.light .nav-link {
  color:  #595959;
}

body.light .nav-link.link-current{
  color: var(--color-orange);
}

body.light .nav-link:hover, body.light .nav-link:focus{
  color: var(--color-orange);
}

.theme-switch {
  position: relative;

  display: flex;
  align-items: center;
  cursor: pointer;
  }

.theme-icon {
  width: 44px;
  height: 18px;
  }

.icon-moon{
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 2;

  width: 10px;
  height: 10px;
}

.icon-sun{
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 2;

  width: 12px;
  height: 12px;
}

.icon-switch{
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 3;

  width: 13px;
  height: 13px;

  transition: transform var(--time-duration) ease;
  }

  body.dark .theme-switch .icon-switch {
  right: 5px;
  left: auto;
  transform: rotate(0);
  
}

body.light .theme-switch .icon-switch {
  transform: rotate(180deg) ;
  right: auto;
  left: 5px;
}

.theme-switch .icon-switch.rotate {
  transform: rotate(180deg);
  right: auto;
  left: 5px;
}


@media screen and (min-width: 768px) {
    
  .theme-icon {
    width: 60px;
    height: 24px;
  }
  
  .icon-moon{
    top: 5px;
        
    width: 13px;
    height: 13px;
  }

  .icon-sun{
    top: 4px;
        
    width: 15px;
    height: 15px;
  }
  
  .icon-switch{
        
    width: 18px;
    height: 18px;
  }

}

/* Стили для мобильного меню */

.menu-button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  outline: none;

font-family: 'Roboto';
font-weight: 500;
font-size: 12px;
line-height: 1.16;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
transition: all 250ms cubic-bezier( .42, 0, .58, 1 );
color: #B7B7B7;

}

.menu-button:hover,
.menu-button:focus {
  color: var(--color-orange);
}

body.light .menu-button {
  color:  #595959;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}


.menu-container {
  display: none;
  transform: translateX(-100%);
  transition: transform 2500ms ease;
  }

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 204px;
    height: 100vh;
    overflow: auto;
    z-index: 5;
    padding-top: 8px;
    padding-left: 20px;
    transform: translateX(0);
    background-color: #171717;
    border-radius: 0px 8px 8px 0px;
    }
    
  }
  
.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 4;
  display: none;
}

.menu-container.is-open + .page-overlay {
  display: block;
}


@media screen and (max-width: 767px) {
  .logo-title, .nav, .page-overlay {
    display: none;
  }
}

  .menu-list {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
  }

  .menu-item:not(:last-child) {
  margin-bottom: 24px;
  }

  .nav-link--mobile{
  height: 16px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier( .42, 0, .58, 1 );
  color:var(--color-white)
}

.nav-link--mobile:hover,.nav-link--mobile:focus{
  color: var(--color-orange);
}

.link-current {
  color: var(--color-orange);
}

.dark {
  background-color: var(--color-black-dark-theme);
  color: var(--color-secondary-text);
}

.light {
  background-color: var(--color-white);
  color: var(--color-black-dark-theme);
}
.dark header {
  background-color: var(--primary-color);
  color: var(--color-secondary-text);
}

.light header {
  background-color: var(--color-white);
  color: var(--color-black-text)
}
