.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000000d8;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.4s;
}
.overlay-active {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.trailer-modal {
  height: auto;

  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  text-align: center;
  position: fixed;

  left: 50%;
  top: -300%;
  transform: translate(-50%, -50%);
  transition: 0.6s;

  @media screen and (min-width: 375px) {
    max-width: 350px;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
    padding: 30px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1000px;
    padding: 30px;
  }
}

.trailer-modal-active {
  top: 50%;
}

.trailer-modal-iframe {
  @media screen and (min-width: 375px) {
    width: 280px;
    height: 150px;
  }

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 300px;
  }

  @media screen and (min-width: 1280px) {
    width: 800px;
    height: 650px;
  }
}

.trailer-modal-closeSvg {
  text-align: right;
  cursor: pointer;
}

.trailer-modal-svg {
  @media screen and (min-width: 375px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 40px;
  }
}

.hero-PopUp-active {
  top: 50%;
}

.hero-PopUp {
  text-align: center;
  position: fixed;
  left: 50%;
  top: -300%;
  transform: translate(-50%, -50%);
  transition: 0.6s;
  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);

  @media screen and (min-width: 375px) {
    max-width: 280px;
    height: 289px;
    border-radius: 16px;
    background: url(../img/hero-img-PopUp-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  @media screen and (min-width: 768px) {
    max-width: 609px;
    height: 400px;
    border-radius: 16px;
    background: url(../img/hero-img-PopUp-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @media screen and (min-width: 1280px) {
    max-width: 700px;
    height: 400px;
    border-radius: 20px;
    background: url(../img/hero-img-PopUp-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.hero-PopUp-svg {
  @media screen and (min-width: 375px) {
    width: 16px;
    height: 16px;
  }

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.hero-PopUp-closeSvg {
  text-align: right;
  cursor: pointer;

  @media screen and (min-width: 375px) {
    padding-top: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 28px;
    padding-right: 28px;
  }
}

.hero-PopUp-text {
  @media screen and (min-width: 375px) {
    margin-left: 33px;
    max-width: 214px;
    font-size: 16px;
    line-height: 1.19;
  }

  @media screen and (min-width: 768px) {
    margin-left: 44px;
    margin-top: 100px;
    max-width: 321px;
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 50px;
    margin-top: 120px;
  }
}
