.hero-section-preview {
  background-image: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    url(../img/mobile-hero-placeholder-img.jpg);
  min-width: 320px !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.hero-container{
  padding-top: 40px;
  padding-bottom: 80px;
}
.background-image{
  background-repeat: no-repeat;
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  width: 199px;
  color: #f8f8f8;
  margin-bottom: 8px;
}
.hero-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  width: 166px;
  color: #f8f8f8;
}
.buttons{
  display: flex;
  gap: 8px;
}
.button {
  padding: 12px 24px;
  border-radius: 74px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 32px;
  border: 1px solid #F87719;
}
.watch-trailer{
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  transition: all 500ms cubic-bezier( .42, 0, .58, 1 );
}
.watch-trailer:hover, .watch-trailer:active, .watch-trailer:focus{
  color: #F87719;
  background: #f8f8f8;
}
.more-details{
  background-color: transparent;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  transition: all  400ms cubic-bezier( .42, 0, .58, 1 );
}
.more-details:hover, .more-details:active, .more-details:focus{
  color: #F87719;
  border: 1px solid #F87719;
}
.default-button{
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section-preview{
        background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),  url(../img/mobile-hero-placeholder-img@2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
  (min-resolution: 192dpi),
  (min-resolution: 3dppx){
    .hero-section-preview{
        background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ), url(../img/mobile-hero-placeholder-img@3x.jpg);
    }
  } 

@media screen and (min-width: 1280px) {
  .hero-section-preview {
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../img/desktop-hero-placeholder-img.jpg);
    min-width: 1280px !important;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section-preview{
        background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),  url(../img/desktop-hero-placeholder-img@2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
  (min-resolution: 192dpi),
  (min-resolution: 3dppx){
    .hero-section-preview{
        background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ), url(../img/desktop-hero-placeholder-img@3x.jpg);
    }
  } 
  .hero-container{
    padding-top: 169px;
    padding-bottom: 169px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .uplifted{
   padding-top: 118px;
   padding-left: 135px;
  }
  .hero-title {
    font-size: 64px;
    line-height: 75px;
    width: 464px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 19px;
    width: 464px;
  }
  
  .button {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-section-preview {
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../img/tablet-hero-placeholder-img.jpg);
      min-width: 768px !important;
     
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section-preview{
        background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),  url(../img/tablet-hero-placeholder-img@2x.jpg);
    }
  }
  @media (min-device-pixel-ratio: 3),
  (min-resolution: 192dpi),
  (min-resolution: 3dppx){
    .hero-section-preview{
        background: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ), url(../img/tablet-hero-placeholder-img@3x.jpg);
    }
  } 
  .hero-container{
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .uplifted{
    padding-top: 36px;
  }
  .button {
    font-size: 14px;
    line-height: 20px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 52px;
    width: 332px;
  }
  .hero-text {
    width: 357px;
  }
}

