@import 'modern-normalize/modern-normalize.css';

@import url('./reset.css');
@import url('./base.css');
@import url('./common.css');
@import url('./upcoming.css');
@import url('./header.css');
@import url('./catalog.css');
@import url('./footer.css');
@import url('./hero.css');
@import url('./hero-modal.css');
@import url('./hero-library.css');
@import url('./library.css');
@import url('./modal.css');
@import url('./weekly-trends.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
