.upcoming {
  margin-bottom: 20px;
}

.upcoming-name {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 24px;
  margin-top: 32px;
  line-height: 1.2;
}

.upcoming__img {
  border-radius: 5px;
}

.upcoming-gradient {
  position: relative;
  display: inline-block;
}

.upcoming-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    307.47deg,
    rgba(0, 0, 0, 0.2) 33.85%,
    rgba(0, 0, 0, 0) 55.27%
  );
  opacity: 0.5;
}

.upcoming__title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.15;
}

.upcoming-list__item {
  display: flex;
  margin-bottom: 12px;
}

.upcoming-list {
  font-weight: 500;
  color: var(--color-grey);
}

.upcoming-list__text {
  line-height: 1.2;
}

.upcoming-content__title {
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--color-grey);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.upcoming-content__text {
  color: var(--color-secondary-text);
  font-size: 14px;
  line-height: 20px;
  max-height: 220px;
  max-width: 280px;
  overflow-y: auto;
  max-height: 220px;
}

.upcoming-list__date {
  color: var(--color-orange);
  line-height: 19px;
  margin-left: 57px;
}

.upcoming-list__vote {
  margin-left: 61px;
}

.vote {
  font-size: 14px;
  background: var(--color-white);
  border-radius: 5px;
  color: var(--color-background);
  padding: 1px 8px;
}

.upcoming-list__popularity {
  color: var(--color-white);
  line-height: 19px;
  margin-left: 78px;
}

.upcoming-list__genre {
  color: var(--color-white);
  line-height: 19px;
  margin-left: 107px;
  max-width: 120px;
}

.upcoming__btn {
  display: none;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  padding: 12px 24px;
  border: 0;
  color: var(--color-background);
  font-weight: 500;
  font-size: 12px;
}
.upcoming__btn:hover,
.upcoming__btn:focus {
  background: var(--color-white);
  color: var(--color-orange);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.remove-btn {
  color: var(--color-white);
  background: var(--color-background);
  border: 1px solid transparent;
  background: linear-gradient(var(--color-background), var(--color-background))
      padding-box,
    linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%) border-box;
}

.upcoming-content {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .upcoming-name {
    font-size: 24px;
    line-height: 1.17;
  }

  .upcoming__img {
    width: 704px;
    height: 400px;
    margin-right: 16px;
  }

  .upcoming-gradient::after {
    max-width: 704px;
  }

  .upcoming__title {
    font-size: 28px;
    line-height: 1.18;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .upcoming-list__item {
    line-height: 1.19;
  }

  .upcoming-thumb {
    display: flex;
  }
  .left {
    margin-right: 118px;
  }

  .upcoming-content__text {
    line-height: 1.43;
    max-height: 100px;
    max-width: 625px;
  }
  .upcoming-content {
    margin-bottom: 30px;
  }

  .upcoming-list__genre {
    max-width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .upcoming-name {
    font-size: 28px;
    line-height: 1.18;
  }

  .upcoming__img {
    width: 805px;
    height: 458px;
    margin-right: 16px;
  }
  .upcoming-gradient::after {
    max-width: 805px;
  }
  .upcoming-content {
    display: flex;
  }

  .upcoming__title {
    font-size: 28px;
    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 28px;
  }
  .upcoming-thumb {
    display: inline;
  }
  .upcoming-content__title {
    margin-top: 20px;
  }

  .upcoming-content__text {
    max-height: 160px;
    max-width: 390px;
  }
  .upcoming-content {
    margin-bottom: 50px;
  }

  .upcoming__btn {
    transform: translate(820px, -90px);
  }
}
