.wrapper {
    display: flex;
    justify-content: space-between;
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-transform: uppercase;
    color: #FFFFFF;
}

.see-all-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #F87719;
}

@media screen and (min-width: 768px) {
  .section-title,
  .see-all-link  {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

}

@media screen and (min-width: 1200px) {
    .section-title,
    .see-all-link {
        font-size: 28px;
        line-height: calc(33 / 28);

    }
}