.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.see-all-link {
  color: var(--color-orange);
}

.section-title-weekly-trends,
.see-all-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-transform: uppercase;
  color: var(--color-white);
}

.weelky-trends-list {
  display: flex;
  flex-direction: column;
}

.film-card {
  position: relative;
  width: 280px;

  margin-bottom: 16px;
  font-size: 12px;
}

.rating {
  font-size: 16px;
}

.film-card-img {
  border-radius: 5px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 12px 12px 12px;

  display: flex;

  font-weight: 500;
}

.info-genre,
.info-release-date {
  color: var(--color-grey);
}

.info-title {
  font-size: inherit;
  font-weight: inherit;
  color: var(--color-white);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .weekly-trends {
    padding-top: 52px;
  }

  .section-title,
  .see-all-link {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .weelky-trends-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
  }

  .film-card {
    width: calc(33.33% - 12px);
  }
}

@media screen and (min-width: 1200px) {
  .weekly-trends {
    padding-top: 80px;
  }

  .section-title,
  .see-all-link {
    font-size: 28px;
    line-height: calc(33 / 28);
  }

  .wrapper {
    margin-bottom: 28px;
  }

  .film-card {
    font-size: 20px;
  }

  .rating {
    font-size: 20px;
  }
}
